{% extends 'index.html' %}
{% block contenido %}
  {% load static %}
  <link href="{% static 'css/frm_nueva_suscripcion.css' %}" rel="stylesheet" />
  <!-- Archivo de mi jquery validate form -->
  <div class="bg-secondary rounded col-11 mx-auto d-none">
    <script src="{% static 'js/templates/validate_suscripcion.js' %}"></script>
    <h2 class="text-center text-white fw-bold">Lista de clientes</h2>
  </div>
  <form action="/guardar_suscripcion/" method="post" enctype="multipart/form-data" id="frm_suscripcion">
    {% csrf_token %}
    <div class="container-fluid pt-3 px-3">
      <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
          <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">Agregar suscripcion</h6>

            <div class="mb-3">
              <label for="cliente" class="form-label">Cliente:</label>
              <select class="form-select" name="cliente" id="cliente">
                <option selected disabled value="">Seleccione el cliente</option>
                {% for cliente in clientes %}
                  <option value="{{ cliente.id }}">{{ cliente.nombre }} {{ cliente.apellido }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="mb-3">
              <label for="tipo_pago" class="form-label">Tipo de pago:</label>
              <select class="form-select mb-3" name="tipo_pago" id="tipo_pago">
                <option selected disabled>Seleccione el tipo de pago</option>
                {% for tipo in tiposPagos %}
                  <option value="{{ tipo.id }}" data-precio="{{ tipo.precio }}">{{ tipo.tipo }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="mb-3">
              <label for="pago_inicial" class="form-label">Pago Inicial:</label>
              <div class="input-group mb-3">
                <span class="input-group-text text-success">$</span>
                <input type="number" class="form-control" id="pago_inicial" name="pago_inicial" placeholder="00.00" />
              </div>
            </div>

            <div class="mb-3">
              <label for="total_pagar" class="form-label">Restante a pagar:</label>
              <div class="input-group mb-3">
                <span class="input-group-text text-success">$</span>
                <input type="text" class="form-control" id="total_pagar" name="total_pagar" placeholder="Total a pagar" readonly />
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-xl-6">
          <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">Suscripcion*</h6>
            <div class="mb-3">
              <label for="estado" class="form-label">Estado del pago (Suscripción):</label>
              <select class="form-select mb-3 no-click" name="estado" id="estado">
                <option selected disabled>Estado...</option>
                <option value="activa">Completado</option>
                <option value="pendiente">Pendiente</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="fecha_inicio" class="form-label">Fecha de inicio:</label>
              <input type="date" class="form-control bg-dark" id="fecha_inicio" name="fecha_inicio" readonly />
            </div>

            <div class="mb-3">
              <label for="fecha_fin" class="form-label">Fecha de fin:</label>
              <input type="date" class="form-control bg-dark" id="fecha_fin" name="fecha_fin" readonly />
            </div>
            <div class="text-end">
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const inputInicial = document.getElementById('pago_inicial')
      const inputTotal = document.getElementById('total_pagar')
    
      if (inputInicial && inputTotal) {
        inputInicial.addEventListener('input', function () {
          const total = parseFloat(inputTotal.value) || 0
          const inicial = parseFloat(this.value) || 0
    
          if (inicial > total) {
            iziToast.error({
              title: 'Error',
              message: 'El pago inicial no puede ser mayor al total a pagar.',
              position: 'topRight'
            })
            this.value = ''
          }
        })
      }
    })
  </script>

  <!-- enlace a mi script -->
  <script src="{% static 'js/templates/nueva_suscripcion.js' %}"></script>

  <style>
    #total_pagar,
    #estado,
    #fecha_inicio,
    #fecha_fin:read-only {
      background-color: #000 !important; /* Fondo negro */
      color: #fff !important; /* Texto blanco */
      border-color: #777 !important; /* Borde rojo */
    }
  </style>
{% endblock %}
