{% extends 'index.html' %}
{% block contenido %}
  {% load static %}

  <div class="container-fluid pt-3 px-2">
    <div class="alert bg-secondary rounded">
      <h2 class="text-center text-white fw-bold">Lista de suscripciones</h2>
    </div>
    <div class="row bg-secondary rounded align-items-start justify-content-center mx-0 py-3 pb-5">
      <div class="col-md-12">
        <!-- Botón agregar cliente -->
        <div class="d-flex justify-content-end my-3">
          <a href="{% url 'nueva_suscripcion' %}" class="btn btn-outline-danger m-2"><i class="fa fa-plus-circle me-1"></i> Agregar Nueva Suscripción</a>
        </div>

        <!-- Tabla de clientes -->
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Lista de suscripciones</h5>
            <div class="table-responsive">
              <table class="table table-striped align-middle" id="tbl_tabla">
                <thead class="table-dark">
                  <tr class="text-center">
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Estado</th>
                    <th class="text-center">Fecha Inicio</th>
                    <th class="text-center">Fecha Final</th>
                    <th class="text-center">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% for suscripcion in suscripciones %}
                    <tr>
                      <td>{{ suscripcion.id }}</td>
                      <td>{{ suscripcion.cliente.nombre }}</td>
                      <td>{{ suscripcion.cliente.apellido }}</td>
                      <td>{{ suscripcion.estado }}</td>
                      <td>{{ suscripcion.fecha_inicio }}</td>
                      <td>{{ suscripcion.fecha_fin }}</td>
                      <td class="text-center">
                        <a href="#" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#abonarModal{{ suscripcion.id }}"><i class="fa-solid fa-money-bill-wave"></i> Abonar</a>
                        <a href="" class="btn btn-warning btn-sm" title="Editar este registro"><i class="fa-solid fa-pen-to-square"></i> Editar</a>
                        <a href="javascript:void(0)" onclick="eliminarSuscripcion('/eliminar_suscripcion/{{ suscripcion.id }}');" title="Eliminar registro" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></a>
                      </td>
                    </tr>

                    <!-- Modal para el abono -->
                    <div class="modal fade" id="abonarModal{{ suscripcion.id }}" tabindex="-1" data-suscripcion-id="{{ suscripcion.id }}" aria-labelledby="abonarModalLabel{{ suscripcion.id }}" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header bg-primary text-white">
                            <h5 class="modal-title" id="abonarModalLabel{{ suscripcion.id }}">Abono de suscripción</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                          </div>
                          <div class="modal-body bg-secondary">
                            <form action="{% url 'registrar_abono' suscripcion.id %}" method="post">
                              {% csrf_token %}

                              <div class="mb-3">
                                <label class="form-label">Nombre del cliente:</label>
                                <input type="text" class="form-control text-dark" id="modal_cliente" name="modal_cliente" value="{{ suscripcion.cliente.nombre }} {{ suscripcion.cliente.apellido }}" readonly />
                              </div>
                              <div class="mb-3">
                                <label class="form-label">Total a pagar:</label>
                                <div class="input-group mb-3">
                                  <span class="input-group-text text-success">$</span>
                                  <input type="text" class="form-control bg-dark" name="modal_total_pagar" id="modal_total_pagar{{ suscripcion.id }}" value="{{ suscripcion.total_pagar }}" readonly />
                                </div>
                              </div>

                              <div class="mb-3">
                                <label for="monto_abonado{{ suscripcion.id }}" class="form-label">Monto abonado:</label>
                                <div class="input-group mb-3">
                                  <span class="input-group-text text-success">$</span>
                                  <input type="number" step="0.01" min="0" name="monto_abonado" id="monto_abonado{{ suscripcion.id }}" class="form-control" required />
                                </div>
                              </div>

                              <div class="mb-3">
                                <label for="fecha{{ suscripcion.id }}" class="form-label">Fecha del abono:</label>
                                <input type="date" name="fecha" id="fecha{{ suscripcion.id }}" class="form-control" required />
                              </div>

                              <div class="d-flex justify-content-end gap-2">
                                <button type="submit" class="btn btn-success">Registrar Abono</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                  <!-- end Modal para esta suscripción -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    #modal_cliente:read-only {
      background-color: #000 !important; /* Fondo negro */
      color: #fff !important; /* Texto blanco */
      border-color: red !important; /* Borde rojo */
    }
  </style>
  <script src="{% static 'js/templates/suscripcion.js' %}"></script>
{% endblock %}
