{% extends 'index.html' %}
{% block contenido %}
  {% load static %}
  <div class="bg-secondary rounded col-11 mx-auto d-none">
    <h2 class="text-center text-white fw-bold">Lista de clientes</h2>
  </div>
  <form action="/guardar_cliente/" method="post" enctype="multipart/form-data" id="frm_cliente">
    {% csrf_token %}
    <div class="container-fluid pt-3 px-3">
      <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
          <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">Agregar cliente</h6>

            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre:</label>
              <input type="text" class="form-control" id="nombre" name="nombre" />
            </div>
            <div class="mb-3">
              <label for="apellido" class="form-label">Apellido:</label>
              <input type="text" class="form-control" id="apellido" name="apellido" />
            </div>
            <div class="mb-3">
              <label for="genero" class="form-label">Género:</label>
              <select class="form-select mb-3" name="genero" id="genero" aria-placeholder="opcional..">
                <option selected disabled>Seleccione el género</option>
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
                <option value="Otro">Otro</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="foto" class="form-label">Foto: <span>*opcional*</span></label>
              <input type="file" accept="/*image" class="form-control bg-dark" id="foto" name="foto" />
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-xl-6">
          <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">Campos opcionales*</h6>
            <div class="mb-3">
              <label for="email" class="form-label">Email:</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Opcional.." />
            </div>
            <div class="mb-3">
              <label for="telefono" class="form-label">Telefono:</label>
              <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Opcional.." />
            </div>
            <div class="mb-3">
              <label for="direccion" class="form-label">Dirección:</label>
              <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Opcional.." />
            </div>
            <div class="mb-3">
              <label for="fecha_nacimiento" class="form-label">Fecha de nacimiento:</label>
              <input type="date" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento" />
            </div>
            <div class="text-end">
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
