
/* Estilos de perfil.html */
.profile-card {
    max-width: 500px;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .edit-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #F92727; /* WhatsApp green */
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }
  
  .edit-icon i {
    font-size: 1.2rem;
  }
  