{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>IRON GYM | LOGIN</title>
    <!-- Icono del sitio web -->
    <link rel="shortcut icon" href="{% static 'img/login/usuario.png' %}" />
    <!-- link css file -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <!-- sweet alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="wrapper">
      <div class="left">
        <center>
          <img class="logo" src="{% static 'img/login/usuario.png' %}" alt="LOGO" />
        </center>
        <h2 class="welcome_text">Iniciar Sesión</h2>

        <form method="POST" class="form">
          {% csrf_token %}
          <h2 class="inp_name"><i class='bx bx-user bx-tada'></i>
            Usuario* </h2>
          <input class="input" name="username" type="text" placeholder="Ingrese el usuario" required /><br />

          <h2 class="inp_name"><i class='bx bx-lock-alt bx-flashing'></i>
            Contraseña *</h2>
          <input class="input" name="password" type="password" placeholder="Ingrese la contraseña" required /><br />

          <button type="submit" class="signin_btn"><i class='bx bx-send bx-tada'></i>
            Ingresar</button>

          {% if messages %}
            <script>
              Swal.fire({
                icon: 'error',
                title: '¡Oops!',
                text: '{% for message in messages %}{{ message }}{% endfor %}',
                showConfirmButton: true
              })
            </script>
          {% endif %}
        </form>
      </div>

      <div class="right">
        <h2 class="title text-center">Bienvenido al <br /> Sistema</h2>
      </div>
    </div>
  </body>
</html>
