{% extends 'index.html' %}
{% load static %}
{% block contenido %}
  <div class="container mt-5">
    <h3 class="mb-4 text-white">Todas las Notificaciones</h3>

    <div class="list-group">
      {% for n in todas_notificaciones %}
        <div class="list-group-item d-flex justify-content-between align-items-start
                  {% if not n.leida %}
            
            
                    bg-dark border-start border-4 border-danger shadow-sm


          {% else %}
            
            
                    bg-secondary text-white


          {% endif %}">
          <div class="d-flex align-items-center">
            <!-- Imagen del cliente -->
            <img src="{% if n.cliente.foto %}
                {{ n.cliente.foto.url }}
              {% else %}
                {% static 'img/usuario/usuario.png' %}
              {% endif %}"
              alt="user"
              class="rounded-circle me-3 border border-white"
              width="50"
              height="50" />
            <div>
              <p class="mb-1">{{ n.mensaje }}</p>
              <small class="text-muted">{{ n.fecha|date:'d M Y, H:i' }}</small>
            </div>
          </div>
          {% if not n.leida %}
            <span class="badge bg-danger">No leída</span>
          {% else %}
            <span class="badge bg-dark border border-white">Leída</span>
          {% endif %}
        </div>
      {% empty %}
        <p class="text-muted">No hay notificaciones para mostrar.</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
